<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
	<link rel="shortcut icon" href="favicon.ico">
    <title>{{ page.title }}</title>
    {% feed_meta %}
    {% seo %}
    <link rel="stylesheet" href="{{ '../assets/dist/output.css' | absolute_url }}" type="text/css">
  </head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PPFBHT8X02"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PPFBHT8X02');
    </script>
  <body>
    {% include navigation.html %}
    {{ content }}

    <script type="text/javascript" src="{{ '../assets/dist/bundle.js' | absolute_url }}"></script>
  </body>
</html>
